
/* ==================reset=================== */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 "微软雅黑" arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
*{box-sizing:border-box;}
div, p {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
  display:block;
  text-overflow:ellipsis;
}
img {
max-width: 100%;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}
/* ==================function=================== */
.f-clear:after{display: block;clear: both;visibility: hidden;height: 0;overflow: hidden;content: ".";}
.f-clear{ zoom: 1;}
.f-dn { display: none;}
.f-fl { float: left;}
.f-fr { float: right;}
.f-rel{ position: relative;}
.f-abs{ position: absolute;}
.f-rel_zoom { position: relative; zoom: 1; }
.f-bold { font-weight: bold; }
.f-left { text-align: left;}
.f-center { text-align:center;}
.f-right { text-align: right;}
.f-noborder{border:0!important;}
.f-nomargin{margin:0!important;}

/* ==================栅格=================== */
.container{width:1170px;margin:0 auto;padding:0 15px;}
/* ==================units=================== */

/*按钮*/
.btn{display:inline-block;border:none;outline:none;cursor:pointer;vertical-align:middle;padding:12px 35px;font-size:14px;color:#fff;border-radius:4px;vertical-align:middle;}
.btn:active{box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-block{width:100%;text-align:center;padding:15px 30px;font-size:18px;}
.btn-small{padding:8px 20px;}
.btn-disabled,.btn-disabled:hover,.btn-disabled:active{background:#ddd!important;color:#fff!important;border:1px solid #ccc!important; cursor:not-allowed;box-shadow:none!important;}

.btn-white{background:#fff;border:1px solid #333;color:#555;}
.btn-white:hover{background:#eee;}

.btn-orange{background:#FB8701;border:1px solid #eea236;}
.btn-orange:hover{color:#fff;background:#ec971f;border:1px solid #d58512;}

.btn-blue{background:#5bc0de;border:1px solid #46b8da;}
.btn-blue:hover{color:#fff;background:#31b0d5;border:1px solid #269abc;}

.btn-green{background:#5cb85c;border:1px solid #4cae4c;}
.btn-green:hover{color:#fff;background:#449d44;border:1px solid #398439;}

.btn-red{background:#E36265;border:1px solid #d43f3a;}
.btn-red:hover{color:#fff;background:#c9302c;border:1px solid #ac2925;}

.btn-grey{background:#f5f5f5;border:1px solid #ddd;color:#666;
}
.btn-grey:hover{background:#f1f1f1;border-color:#ccc;color:#666;}

/*表单*/
input[type=text],input[type=password]{
	display:inline-block;
	padding:6px 12px;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:4px;
	width:250px;
	height:34px;
	color:#333;
        font-size:14px;
	vertical-align:middle;
	margin-right:10px;
}
input[type=text]:focus,input[type=password]:focus,textarea:focus{
	border-color:#66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

textarea{
	display:block;
	width:100%;
	padding:5px 12px;
	border:1px solid #ccc;
	background:#fff;
	border-radius:4px;
	line-height:24px;
	vertical-align: top;
        font-size:14px;
}

input[type=checkbox],input[type=radio]{
	vertical-align:bottom;
	margin-right:4px;
	display:inline-block;
}

input[type=text][disabled],select[disabled],textarea[disabled]{
	background:#eee;
	cursor:not-allowed;
}
select{
	display:inline-block;
	height:34px;
	width:150px;
	padding:6px 12px;
	border:1px solid #ccc;
	border-radius:4px;
	font-size:14px;
	vertical-align:middle;
}

/*表格*/
.table{border:1px solid #ddd;width:100%;border-radius:4px;}
.table td,.table th{border:1px solid #ddd;padding:15px 10px; text-align:center;font-size:14px;}
.table th{background:#F5F5F5;color:#000;font-size:15px;padding:18px 10px;font-weight:bold;}
.table>tbody>tr:hover{background:#f9f9f9;}
.table-striped>tbody>tr:nth-of-type(even){background:#f9f9f9;}
.textleft th,.textleft td{text-align:left;}
.t-css{width:100%; overflow:hidden; display:table; }
.t-img-css{display:block; width:100%; height:auto; overflow:hidden;} 
.t-row-css{display:table-row; width:100%; }
.t-cell-css{display:table-cell; overflow:hidden; vertical-align:middle; text-align:left; height:100%; box-sizing:border-box; }
.rm-a-css{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.set-img-css{display:block; width:100%; height:auto; overflow:hidden;}
.base-box-css{width:100%; overflow:hidden;}

/*字体图标*/
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  margin-right:5px;
}
.icon-tips:before { content: "\e60b"; }
.icon-corect:before { content: "\e60c"; }
.icon-error:before { content: "\e60d"; }
.icon-password:before { content: "\e600"; }
.icon-user:before { content: "\e601"; }
.icon-warming:before { content: "\e60e"; }
.icon-vip:before { content: "\e602"; }
.icon-close:before { content: "\e60f"; }
.icon-invest:before { content: "\e603"; }
.icon-set:before { content: "\e604"; }
.icon-phone:before { content: "\e605"; }
.icon-loan:before { content: "\e606"; }
.icon-mail:before { content: "\e607"; }
.icon-rmb:before { content: "\e608"; }
.icon-bankcard:before { content: "\e609"; }
.icon-gift:before { content: "\e60a"; }
.icon-up:before { content: "\e624"; }
.icon-down:before { content: "\e625"; }
.icon-date:before { content: "\e612"; }
.icon-xiangqing:before { content: "\e617"; }
.icon-daohangcaidan:before { content: "\e618"; }
.icon-flag:before { content: "\e619"; }
.icon-aisjian:before { content: "\e616"; }
.icon-aisjia:before { content: "\e615"; }
.icon-yonghu:before { content: "\e613"; }
.icon-information:before { content: "\e614"; }
.icon-telPhone:before { content: "\e61c"; }
.icon-riqi:before { content: "\e61b"; }
.icon-weibo:before { content: "\e61e"; }
.icon-qq:before { content: "\e61a"; }
.icon-weixin:before { content: "\e622"; }
.icon-jiaoyi:before { content: "\e621"; }
.icon-back:before { content: "\e623"; }
.icon-forward:before { content: "\e626"; }
.icon-daohang:before { content: "\e621"; }
.icon-chuizi:before { content: "\e627"; }
.icon-note:before { content: "\e62d"; }
.icon-news:before { content: "\e62e"; }
.icon-helpcenter:before { content: "\e62a"; }
.icon-jianjie:before { content: "\e628"; }
.icon-gonggao:before { content: "\e629"; }
.icon-email:before { content: "\e62b"; }



.icon-rmb {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe608;');}
.icon-tips {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60b;');}
.icon-corect {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60c;');}
.icon-error {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60d;');}
.icon-password {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe600;');}
.icon-user {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe601;');}
.icon-warming {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60e;');}
.icon-vip {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe602;');}
.icon-close {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60f;');}
.icon-invest {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe603;');}
.icon-set {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe604;');}
.icon-phone {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe605;');}
.icon-loan {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe606;');}
.icon-mail {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe607;');}
.icon-bankcard {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe609;');}
.icon-gift {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60a;');}
.icon-down {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe625;');}
.icon-date {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe612;');}
.icon-xiangqing {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe617;');}
.icon-daohangcaidan {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe618;');}
.icon-flag {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe619;');}
.icon-aisjian {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe616;');}
.icon-aisjia {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe615;');}
.icon-yonghu {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe613;');}
.icon-information {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe614;');}
.icon-telPhone {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61c;');}
.icon-riqi {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61b;');}
.icon-weibo {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61e;');}
.icon-qq {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61a;');}
.icon-weixin {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe622;');}
.icon-jiaoyi {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe621;');}
.icon-back {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe623;');}
.icon-up {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe624;');}
.icon-forward {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe626;');}
.icon-daohang {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe621;');}
.icon-chuizi {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe627;');}
.icon-note {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62d;');}
.icon-news {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62e;');}
.icon-helpcenter {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62a;');}
.icon-jianjie {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe628;');}
.icon-gonggao {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe629;');}
.icon-email {*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62b;');}

/* ==================分页=================== */
.page-btn{
  height:40px;
  margin-top:20px;
}
.page-btn a,.page-btn span{
  display:block;
  width:44px;
  height:40px;
  float: left;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
  border-right:1px solid #ddd;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  line-height: 40px;
  text-align:center;
  color:#E36265;
  font-size: 14px;
}
.page-btn a:first-of-type{border-left:1px solid #ddd}
.page-btn a:hover{
  background:#ccc;
}
.page-btn a.current{
  background:#E36265;
  color:#fff;
}
.page-btn a:nth-child(5){
  border-right:1px solid #ccc;
  line-height:36px;
}
.page-btn a:nth-child(1){
  line-height:36px;
}
.page-btn a.disabled,.page-btn a.disabled:hover{background:#ccc;color:#fff;cursor:not-allowed;}

/* ==================弹出层=================== */
.layer{
	width:550px;
	position:absolute;
	left:50%;top:50%;
	background:#fff;
	border-radius:4px;
	box-shadow:0 5px 15px rgba(0,0,0,.5);
}
.layer_title{padding:15px;border-bottom:1px solid #ddd;position:relative;}
.layer_title h3{font-size:18px;font-weight:500px!important;color:rgb(51,51,51);}
.layer_title .icon-close{position:absolute;top:15px;right:15px;color:#ddd;font-weight:bold;}
.layer_title .icon-close:hover{color:rgb(51,51,51);}
.layer_content{padding:15px;font-size:14px;line-height:24px;}
.layer_footer{padding:15px;border-top:1px solid #ddd;text-align:right;}
.layer_footer .btn{margin-left:5px;}

/* ==================面板=================== */
.panel{
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel_title{
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size:14px;
  line-height:20px;
}
.panel_content{padding:15px;}

.panel_default{
	border-color:#ddd;
}
.panel_default .panel_title{
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel_red{
	border-color:#d43f3a;
}
.panel_red .panel_title{
  color: #fff;
  background-color: #E36265;
  border-color: #d43f3a;
}

.panel_blue{
	border-color:#337ab7;
}
.panel_blue .panel_title{
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

/* ==================响应布局=================== */
@media screen and (max-width:767px){
        .container, .content-wrap .container{width:100%;/*background:green;*/}
      }
@media screen and (min-width:768px){
        .container, .content-wrap .container{width:750px;/*background:yellow;*/}
      }
@media screen and (min-width:992px){
        .container, .content-wrap .container{width:970px;/*background:orange;*/}
      }
@media screen and (min-width:1200px){
        .container, .content-wrap .container{width:1170px;/*background:red;*/}
      }


/*==============头部分=================*/

/*==============头部分=================*/

.top-bar, .login-after {
	width: 100%;
	height: 44px;
	font-size: 12px;
	position: relative;
	line-height: 44px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}

.top-bar .container, .login-after .container {
	height: 44px;
}

.top-links {
	position: relative;
	float: right;
}

.top-links li {
	float: left;
	border-right: 1px solid #eee;
}

.top-links li.item03 {
	border-right: none;
}

.top-links li a {
	display: block;
	height: 43px;
	line-height: 44px;
	text-align: center;
	cursor: pointer;
	font-family: "微软雅黑";
	padding: 0 16px;
	color: #666;
}

.top-links li.bg-color a {
	color: #fff;
	background: #E36265;
}

.top-links li a:hover {
	background: #F9F9F9;
	color: #666;
}

.photoIcon {
	float: left;
}

.photoIcon i {
	float: left;
	font-size: 20px;
	margin-right: 10px;
	margin-top: 1px;
}

.photoIcon p {
	position: relative;
	float: left;
	padding-top: 2px;
	font-size: 13px;
	font-weight: 400;
	color: #555;
	font-family: Microsoft Sans Serif
}

.photoIcon span {
	float: left;
	padding: 0 15px;
	font-size: 19px;
	line-height: 42px;
	font-weight: 100;
	color: #555;
}

.photoIcon .icons {
	float: left;
}

.photoIcon .icons ul li {
	float: left;
	margin-top: 11px;
}

.photoIcon .icons ul li a {
	display: block;
	line-height: 22px;
	font-size: 20px;
	margin-right: 20px;
	color: #555555;
}
.photoIcon .icons ul li a:hover{
	color:#999;
}
.photoIcon .icons ul li a.item02 {
	margin-top: 2px;
}

.login-after .top-links ul li span {
	float: left;
	font-size: 18px;
}

.login-after .top-links ul li.item02 span {
	display: inline-block;
	height: 20px;
	padding: 0 5px;
	border-radius: 5px;
	background: #E36265;
	text-align: center;
	line-height: 20px;
	float: right;
	color: #fff;
	font-size: 12px;
	margin: 12px 0 0 5px;
}

.kong {
	width: 100%;
	height: 100px;
	display: none;
}
/*-----------header-------------*/
.header-wrap {
	z-index: 999;
	background-color: #FFF;
	width: 100%;
	height: 100px!important;
	border-bottom: 1px solid #eee;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.header-wrap .container {
	position: relative;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}


.logo-wrap {
	width: 415px;
	overflow-y: hidden;
	float: left;
}

.logo {
	position: relative;
	margin-top: 24px;
	overflow: hidden;
}

.logo:before {
	content: " ";
	position: absolute;
	width: 225px;
	height: 46px;
	top: 3px;
	left: 190px;
	background: url(../images/slogan.png) no-repeat 23px center;
	border-left: 1px solid #eee;
}

.primary-menu {
    float: right;
}

.primary-menu ul li.item {
	float: left;
	position: relative!important;
}

.primary-menu ul .item a {
	display: block;
	height: 100px;
	line-height: 100px;
	padding: 0 30px;
	color: #444;
	font-size: 18px;
	font-family: "微软雅黑";
}

.primary-menu ul .item a.current {
	color: #E36265;
}

.primary-menu ul .item a:hover {
	color: #E36265;
}

.primary-menu ul .item:nth-child(4) a {
	padding-right: 2px
}

.header-wrap.fixed {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px!important;
	overflow: visible;
	box-shadow: 0 1px 8px rgba(0,0,0,0.1);
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.header-wrap.fixed .logo-wrap {
	width: 365px;
}

.header-wrap.fixed img {
	width: 105px;
}

.header-wrap.fixed .logo {
	margin-top: 14px;
}

.header-wrap.fixed ul li a {
	display: block;
	font-size: 16px;
}

.header-wrap.fixed .primary-menu ul li a {
	height: 60px;
	line-height: 60px;
}

.header-wrap.fixed .primary-menu ul li ul li a {
	height: 42px;
	line-height: 42px;
}

.header-wrap.fixed .logo:before {
	top: -7px;
	-webkit-background-size: 150px;
	background-size: 150px;
	left: 125px;
}
/*======下拉菜单部分========*/
.primary-menu ul li ul {
	position: absolute;
	border: 1px solid #eee;
	border-top: 2px solid #E36265;
	left: -1px;
	top: 99px;
	z-index: 99999;
	background: #fff;
	display: none;
}

.header-wrap.fixed .primary-menu ul li ul {
	position: absolute;
	top: 59px;
}

.primary-menu ul li ul li.sub-menu a {
	display: block;
	padding-left: 10px;
	text-align: left;
	line-height: 0;
	width: 160px;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
	letter-spacing: 0;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.sub-menu i {
	font-size: 20px;
	margin-right: 6px;
}

.colnav {
	float: right;
	display: none;
	font-size: 32px;
	cursor: pointer;
}

.taggle-nav {
	display: none;
}

.primary-menu ul li ul li.sub-menu a:hover {
	background: #F9F9F9;
	padding-left: 15px;
}

#primary-menu-trigger {
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	font-size: 14px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
  /* -webkit-transition: opacity .3s ease; */
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

/*=============尾部部分===================*/

.footer-wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.footer-wrap .Hflow {
	height: 170px;
	overflow: hidden;
}

#zs-panter-box {
	width: 100%;
	height: 140px;
	margin: 0 auto;
	overflow: hidden;
	margin-top:16px;
	position: relative;
}

#zs-panter-boxIn {
	width: 800%;
	position: absolute;
	top: 0;
	left: 0;
}

#left,#right {
	float: left;
}

#zs-panter-box ul li {
	float: left;
	margin-right: 60px;
}
#zs-panter-box ul li img{
	opacity: 0.8;
}
#zs-panter-box ul li img:hover{
	opacity: 1;
}
.zc-footer-con {
	background: #333;
	position: relative;
	border-top: 5px solid rgba(0,0,0,.2);
}

.copyrights {
	padding: 40px 0;
	font-size: 14px;
	line-height: 1.8;
	color: rgba(255,255,255,.25);
	overflow: hidden;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
	background-color: rgba(0,0,0,.2);
	text-shadow: 1px 1px 1px rgba(0,0,0,.1)
}

.col_half {
	width: 49%;
	float: left;
}

.copyrights .col_item01 {
	width: 52%;
	font-size: 13px;
}

.copyrights .col_item02 {
	width: 48%;
}

.footer-logo {
	display: block;
	width: 138px;
	height: 28px;
	margin-bottom: 22px;
}

.copyrights-menu {
	margin-bottom: 10px;
}

.copyrights-menu a {
	font-size: 14px;
	margin: 0 10px;
	border-bottom: 0!important;
	color: rgba(255,255,255,.25);
}

.copyrights-menu a:hover {
	color: rgba(255,255,255,.35);
}

.social-icon {
	display: inline-block;
	margin: 0 5px 5px 0;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 35px!important;
	color: #555;
	text-shadow: none;
	border-radius: 3px;
	overflow: hidden;
	color: #666;
	position: relative;
	overflow: hidden;
}

.icon-donghua {
	margin-top: 10px;
}

.donghua {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.donghua {
	cursor: pointer;
}

.social-icon:hover {
	background: #00ACEE;
}

.social-icon.icon02:hover {
	background: #D42B28;
}

.social-icon.icon03:hover {
	background: #02BF03;
}

.social-icon.icon04:hover {
	background: #FF5B33;
}

.social-icon:hover .donghua {
	top: -35px;
}

.social-icon i {
	display: block;
	width: 100%;
	font-size: 20px;
}

.social-icon i.font02 {
	color: #fff;
}

.return {
	display: none;
	z-index: 299;
	position: fixed;
	width: 40px;
	height: 40px;
	background-color: #333;
	background-color: rgba(0,0,0,.3);
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	color: #FFF;
	top: auto;
	left: auto;
	right: 25px;
	bottom: 50px;
	cursor: pointer;
	border-radius: 2px;
	transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
	-0-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
}

.return:hover {
	background: #E36265;
}

/*======== ==列表页公共样式==============*/

.list-nav {
	width: 100%;
	overflow: hidden;
	height: 44px;
	background: #E36265;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.list-nav.list-nav-fixed {
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	left: 0;
	position: fixed;
	top: 60px;
	width: 100%;
	z-index:100;
}

.list-nav ul {
	float: right;
}

.list-nav ul li {
	float: left;
}

.list-nav li a {
	display: inline-block;
	font-size: 14px;
	height: 44px;
	line-height: 44px;
	padding: 0 30px;
	color: #fff;
	font-family: "微软雅黑";
	cursor: pointer;
}

.list-nav li.current a {
	background: rgba(0,0,0,0.15);
}
/*.list-nav li.index03 a{
	padding-right:0;
}*/
.list-nav li a:hover {
	background: rgba(0,0,0,0.15);
}

.site-nav ul li {
	width: 50%;
}

/*===========项目部分===========*/
.card {
	float: left;
	max-width: 31.33%;
	margin-right: 2%;
	margin-bottom:30px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.05);
	background: #fff;
	border: 1px solid #eee;
	position: relative;
	padding-bottom: 50px;
}

.card-image {
	width: 100%;
	max-height: 210px;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.card-image img {
	max-height: 210px;
	max-width: 100%;
	vertical-align: middle;
}

.card-funded .deal-funded, .card-trending .deal-trending {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 40;
}

.card-image-cover {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.4) inset;
}

.card-body {
	padding: 16px 15px;
	color: #252525;
}

.card-title {
	font-size: 19px;
	text-transform: uppercase;
	color: #333333;
	font-weight: 400;
	font-family: "微软雅黑";
	width: 100%;
	overflow: hidden;
	word-break: normal;
	height: 76px;
	line-height: 26px;
	padding-top: 10px;
}

.card-description {
	overflow: hidden;
	margin-top: 10px;
}

.card-description dl {
	padding-right: 1%;
	color: #797979;
	font: 12px "微软雅黑";
	text-align: center;
	float: left;
	border-right: 1px solid #eee;
}

.card-description .dl01 {
	width: 29%;
}

.card-description .dl02 {
	width: 45%;
}

.card-description .dl01 em {
	font-family: "微软雅黑";
	font-size: 16px;
}

.card-description .dl02 em {
	font-family: "微软雅黑";
	font-size: 16px;
}

.card-description .dl03 {
	width: 26%;
	border-right: 0;
	padding-right: 0;
}

.card-description dl dd {
	color: #666;
	font-size: 16px;
	font-weight: 400;
	font-family:"微软雅黑";
	margin-top: 7px;
	color: #333;
}

.card-description dl dd span {
	color: #797979;
	font-size: 12px;
	font-family: "微软雅黑";
}

.firstpublish dd span {
	margin-left: 0;
}

.firstpublish-Bd .card .card-description .dl01 {
	width: 34%;
}

.firstpublish-Bd .card .card-description .dl02 {
	width: 31%;
}

.firstpublish-Bd .card .card-description .dl03 {
	width: 35%;
}

.card-details {
	margin-top: 18px;
}

.card-percentage-graph {
	position: relative;
	width: 100%;
	padding: 0 8px;
}

.card-percentage-0, .card-percentage-100 {
	background: #6fd1ed;
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	position: absolute;
	top: -1px;
	left: 0;
}

.card-percentage-background, .card-percentage-progress {
	background: #cdcdcd;
	display: block;
	height: 4px;
}

.card-funded .card-percentage-progress {
	background: #409f56;
}

.card-percentage-progress {
	background: #E36265;
	margin-top: -4px;
}

.card-percentage-background, .card-percentage-progress {
 /* background: #cdcdcd;*/
	display: block;
	height: 4px;
}

.card-percentage-current {
	background: #00D0CB;
	position: absolute;
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 14px;
	top: -5px;
	border: 2px solid #fff;
	margin-left: -7px;
	z-index: 50;
}

.card-percentage-0, .card-percentage-100 {
	background: #E36265;
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	position: absolute;
	top: -1px;
	left: 0;
}

.card-percentage-100 {
	left: auto;
	right: 0!important;
}

.card-amount {
	margin-top: 14px;
	overflow: hidden;
}

.card-amount .card-amountL {
	float: left;
}

.card-amount .card-amountL p {
	float: left;
}

.card-amount .card-amountL .p01 {
	color: #797979;
	font: 12px "微软雅黑";
	margin-top: 5px;
}

.card-amount .card-amountL .p02 {
	color: #797979;
	font: 20px Arial;
	color: #33CCCC;
}

.card-amount .card-amountL .p02 em {
	font-family: "微软雅黑";
	font-size: 18px;
}

.card-amount .card-amountL .p02 span {
	font-size: 14px;
	font-family: "微软雅黑";
	margin-left: 2px;
}

.card-amount .percent {
	float: right;
	color: #E36265;
	padding-right: 8px;
	font-family: "微软雅黑";
	font-size: 18px;
}

.card-tagline {
	position: absolute;
	font-size: 16px;
	font-weight: 400;
	background: #D0DCE2;
	color: #4A5254;
	text-align: center;
	width: 100.6%;
	height: 40px;
	line-height: 40px;
	left: -1px;
	bottom: -1px;
	overflow: hidden;
	font-family: "微软雅黑";
}

.card-link {
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	text-indent: 120%;
	overflow: hidden;
}

.card-link {
	left: 0;
	position: absolute;
}

.card:hover {
	border: 1px solid #E36265;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card:hover .card-image-cover {
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.card:hover .card-tagline {
	background: #E36265;
	color: #fff;
}


/*===========媒体查询部分============*/

@media screen and (max-width:768px) {
	.primary-menu {
		display: none;
	}

	.primary-menu li {
		float: none;
	}

	.photoIcon {
		display: none;
	}

	.colnav {
		display: block!important;
		margin-top: 22px;
	}

	.colnav {
		float: right;
		display: none;
		font-size: 32px;
		cursor: pointer;
	}
    .logo-wrap {
    	float: left;
    }
	.header-wrap.fixed .colnav {
		-webkit-background-size: 30px;
		background-size: 30px;
		margin-top: 13px;
	}

    .header-wrap .taggle-nav {
		display: none;
		position: fixed;
		width: 100%;
		top: 123px;
		left: 0;
		z-index: 2000;
		background: #fff;
		border: 1px solid #eee;

	}
	.header-wrap.fixed ul li a{
		font-size:18px; 
	}
    .header-wrap.fixed ul.taggle-nav{
    	position: fixed;
    	top:59px!important;
    }

	.taggle-nav li {
		height: 40px;
		line-height: 40px;
		text-align: center;
		border-bottom: 1px solid #eee;
	}

	.taggle-na li:nth-child(4) {
		border-bottom: none;
	}

	.taggle-nav li a {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 18px;
		letter-spacing: 2px;
		font-family: "微软雅黑";
	}

	.taggle-nav li a:hover {
		background: #eee;
	}

	.header-wrap,.logo-wrap {
		height: 80px!important;
		overflow: hidden;
	}

	.logo-wrap {
		width: 150px;
	}

	.logo {
		margin-top: 16px;
	}

	.logo img {
		width: 150px;
	}

	.header-wrap.fixed .logo-wrap {
		width: 100px;
		height: 50px;
	}

	.login-after .top-links ul li span {
		display: block;
	}

	.scroll {
		display: none!important;
	}

	.banner-box {
		display: block!important;
	}

	.banner-box .hd {
		height: 24px!important;
		line-height: 24px!important;
	}

	.banner-box .hd li {
		width: 12px!important;
		height: 12px!important;
	}

	.footer-wrap .H {
		height: 135px;
	}

	#zs-panter-box {
		margin-top: 13px;
	}

	.copyrights {
		padding: 20px 0 5px 0;
	}

	.footer-logo {
		width: 116px;
		height: 24px;
		margin-bottom: 8px
	}

	.copyrights .col_item01 {
		width: 100%;
		float: none;
	}

	.copyrights .col_item02 {
		width: 100%;
		float: left;
	}

	.copyrights .col_item02 .f-right {
		text-align: left;
		margin-top: 12px;
	}

	.copyrights .col_item02 .f-fr {
		float: none;
	}

	.copyrights-menu a:nth-child(1) {
		margin-left: 0;
	}

	.copyrights .col_item01 {
		font-size: 12px;
	}

	.copyrights-menu a {
		font-size: 12px;
	}

	.copyrights .col_item02 .f-right {
		margin-top: 0!important;
	}

	.icon-donghua {
		margin-top: -8px;
	}

	.list-nav .container {
		padding: 0;
	}

	.list-nav ul li {
		width: 33.3%;
	}

	.site-nav ul li {
		width: 50%;
	}

	.list-nav ul {
		width: 100%!important;
		float: none;
	}

	.list-nav li a {
		display: block;
		width: 100%;
		float: left;
		padding: 0 5%;
		text-align: center;
	}

	.card {
		max-width: 100%!important;
		float: none;
		margin-right: 0;
		margin-top: 20px;
		border: 0!important;
		padding-bottom: 10px;
	}

	.card-body {
		padding-left: 0;
		padding-right: 0;
	}

	.card-tagline {
		position: relative;
		left: 0;
		bottom: 0;
		background: #E36265;
		color: #fff;
	}

	.card-image img {
		width: 100%;
	}

	.card:nth-child(1) {
		margin-top: 0;
	}

	.card-title {
		font-size: 17px;
	}

	.card-description dl dd {
		font-size: 15px;
	}

	.card-amount .percent {
		padding-right: 0;
	}

	.card:hover {
		border: 0;
		box-shadow: 0 0 0 rgba(0,0,0,0)!important;
	}

	.card:hover .card-image-cover {
		box-shadow: 0 0 0 rgba(0,0,0,0) inset!important;
	}

	.card:hover .card-tagline {
		background: #E36265;
		color: #fff;
	}

	.card:hover {
		border: 1px solid #E36265;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}

	.card:hover .card-image-cover {
		box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
	}

	.card:hover .card-tagline {
		background: #E36265;
		color: #fff;
	}

	.card-description .dl em {
		font-size: 13px;
	}

	.firstpublish-Bd .card {
		height: auto;
	}
}

@media screen and (min-width:768px) and (max-width:992px) {
	.logo-wrap {
		width: 190px;
	}

	.header-wrap.fixed .logo-wrap {
		width: 110px;
	}

	.card-title {
		font-size: 14px;
	}

	.card-description dl dd {
		font-size: 13px;
	}

	.card {
		height: 474px;
	}

	.firstpublish-Bd .card {
		height: 418px;
	}

	.card-amount .percent {
		padding-right: 0;
	}

	.card-description dl dd em {
		font-family: "微软雅黑";
		font-size: 12px!important;
	}

	.card-amount .card-amountL .p02 {
		font-size: 15px;
	}

	.card-amount .percent {
		font-size: 16px;
		margin-top: 4px;
	}

	.firstpublish-Bd .card-body {
		padding: 16px 10px;
	}

	.firstpublish-Bd .card .card-description .dl01 {
		width: 38%;
	}

	.firstpublish-Bd .card .card-description .dl02 {
		width: 27%;
	}

	.firstpublish-Bd .card .card-description .dl03 {
		width: 35%;
	}

	.firstpublish-Bd .card-description dl dd {
		font-size: 12px;
	}
}

@media screen and (min-width:992px) and (max-width:1200px) {

	.card-title {
		font-size: 16px;
	}

	.card-description dl dd {
		font-size: 15px;
	}

	.firstpublish-Bd .card {
		height: 418px;
	}

	.card {
		height: 475px;
	}

	.card-description dl  em {
		font-family: "微软雅黑";
		font-size: 13px!important;
	}
}